@{
    ViewBag.Title = "Welcome to our site!";
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<style>
     body {
        background-color:black;
        margin: 20px;
        overflow: hidden;
        width: 1140px;
        height: 400px;
    }

    .jumbotron {
        background-image: url(../Images/plane5.jpg);
        background-color: black;
        margin-left: 78px;
        margin-right: -60px;
        margin-top: -19px;
        padding-bottom: 500px;
    }

    .container .jumbotron {
        border-radius: 0px;
    }
    }
</style>


<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Monitoring the Airplane Traffic<br/><br/><br/></p>

    <h4>For a safe flight, visit our flight website,<br /><br/>
        You can find more info, on the About page.<br /><br/>
        Travel wherever you want with us!<br/><br/>
    BlaaaBlalallalallalaa
    BLALALLA
     </h4> 
</div>






   